<!doctype html>
<html>
    <head>
        <%- include("./head.html"); %>
    </head>

    <body>
        <header>
            <%- include("./header.html"); %>
        </header>

        <%- include("./modals/perfume/notes_modal.html"); %>
        <%- include("./modals/perfume/hashtags_modal.html"); %>


        <div class="content" style="padding: 30px;">
            <p>
                <h2>perfume list</h2>
            </p>
            <p>
                <button class="btn btn-primary" onclick="onCreateClick()">create</button>
            </p>
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col">avatar</th>
                    <th scope="col">notes</th>
                    <th scope="col">hot_banner</th>
                    <th scope="col">banner</th>
                    <th scope="col">story</th>
                    <th scope="col">hashtags</th>
                    <th scope="col">likes</th>
                    <th scope="col">subscribes</th>
                    <th scope="col">update</th>
                    <th scope="col">delete</th>
                  </tr>
                </thead>
                <tbody id="list_body"></tbody>
            </table>
        </div>

        <footer>
            <%- include("./footer.html"); %>
        </footer>
        <script>

            let sList = null;
            
            $.post('/api/perfume/read',{},(d,s)=>{
                let list=JSON.parse(d);
                loadList(list);
            });

            function loadList(list) {
                sList = list;
                let idx = 0;
                for(var i of list){
                    $('#list_body').append(createItem(i, idx));
                    idx = idx + 1;
                }   
            }

            function createItem(item, idx) {
                return `<tr>
                <td>${item.id}</td>
                <td>${item.name}</td>
                <td>${item.avatar}</td>
                <td><button class="btn btn-info" onclick="onNotesClick(${idx})">notes</button></td>
                <td>${item.hot_banner}</td>
                <td>${item.banner}</td>
                <td>${item.story}</td>
                <td><button class="btn btn-info" onclick="onHashtagsClick(${idx})">hashtags</button></td>
                <td>${item.likes}</td>
                <td>${item.subscribes}</td>
                <td><button class='btn btn-info' onclick="onUpdateClick(${idx})">update</button></td>
                <td><button class='btn btn-danger' onclick="onDeleteClick(${item.id})">delete</button></td>
                </tr>`;   
            }


            function onHashtagsClick(idx) {
                const item = sList[idx];
                const hashtags = decodeURIComponent(item.hashtags);

                $('#hashtags-text').html(hashtags);
                $('#hashtags_modal_open_button').click();
            }
            
            function onNotesClick(idx) {
                const item = sList[idx];
                const notes = decodeURIComponent(item.notes);

                $('#notes-text').html(notes);
                $('#notes_modal_open_button').click();
            }

        </script>
    </body>


    
</html>

