<!doctype html>
<html>
    <head>
        <%- include("./head.html"); %>
    </head>

    <body>
        <header>
            <%- include("./header.html"); %>
        </header>

        <%- include("./modals/preference/slot_modal.html"); %>
        <%- include("./modals/preference/slot_note_modal.html"); %>
        <%- include("./modals/preference/create_modal.html"); %>
        <%- include("./modals/preference/update_modal.html"); %>
        <%- include("./modals/preference/delete_modal.html"); %>
        
        <div class="content" style="padding: 30px;">
            <p>
                <h2>preference list</h2>
            </p>
            <p>
                <button class="btn btn-primary" onclick="onCreateClick()">create</button>
            </p>
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">user_id</th>
                    <th scope="col">slot</th>
                    <th scope="col">slot_note</th>
                    <th scope="col">update</th>
                    <th scope="col">delete</th>
                  </tr>
                </thead>
                <tbody id="list_body"></tbody>
            </table>
        </div>

        <footer>
            <%- include("./footer.html"); %>
        </footer>
        <script>

            let sList = null;
            
            $.post('/api/preference/read',{},(d,s)=>{
                let list=JSON.parse(d);
                loadList(list);
            });

            function loadList(list) {
                sList = list;
                let idx = 0;
                for(var i of list){
                    $('#list_body').append(createItem(i, idx));
                    idx = idx + 1;
                }   
            }

            function createItem(item, idx) {
                return `<tr>
                <td>${item.id}</td>
                <td>${item.user_id}</td>
                <td><button class="btn btn-info" onclick="onSlotClick(${idx})">slot</button></td>
                <td><button class="btn btn-info" onclick="onSlotNoteClick(${idx})">slot_note</button></td>
                <td><button class='btn btn-info' onclick="onUpdateClick(${idx})">update</button></td>
                <td><button class='btn btn-danger' onclick="onDeleteClick(${item.id})">delete</button></td>
                </tr>`;   
            }


            function onSlotClick(idx) {
                const item = sList[idx];
                const slot = decodeURIComponent(item.slot);

                $('#slot-text').html(slot);
                $('#slot_modal_open_button').click();
            }

            function onSlotNoteClick(idx) {
                const item = sList[idx];
                const slotNote = decodeURIComponent(item.slot_note);

                $('#slot_note-text').html(slotNote);
                $('#slot_note_modal_open_button').click();
            }

            function onCreateClick() {
                $('#create_modal_open_button').click();
            }

            function onUpdateClick(idx) {
                const item = sList[idx];
                loadUpdateModal(item.id, item.user_id, item.slot, item.slot_note);
                $('#update_modal_open_button').click();
            }

            function onDeleteClick(id){
                $('#delete_id_input').val(id);
                $('#delete_modal_open_button').click();
            }

        </script>
    </body>


    
</html>

